{# Slider #}
{% load static %}
{% load thumbnail %}

{% if slider_home %}
{% with slider=slider_home  %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for sh in slider %}
        <button type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="{{ sh.pk }}"
                aria-label="{{ sh.title }}"
                {% if forloop.first %} class="active" aria-current="true" {% endif %}></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for sh in slider %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}"  style="max-height: 560px; min-height:320px;">
            {% if sh.image %}
            <img class="d-block w-100" style="margin-top: -20px"
                 src="{{ sh.image|thumbnail_url:'large' }}"
                 alt="{{ sh.title }}" />
            {% endif %}
            {% if sh.title %}
            <div class="carousel-caption col-4 p-5">
                <h5>{{ sh.title }}</h5>
                {% if sh.html_description %}<small>{{ sh.html_description|safe }}</small>{% endif %}
                {% if sh.url %}<p><a target="_blank" href="{{ sh.url }}">More</a></p>{% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if slider.count > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
</div>


{% endwith %}
{% endif %}
