{% load static %}
{% load thumbnail %}


{% if objects %}


<section class="container mt-5 mb-3 px-4 py-5" id="custom-cards">
    <h3 class="pb-2 border-bottom">{% if title %}{{ title }}{% endif %}{{ object.title }}</h3>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
        {% with objects=objects %}
        {% for product in objects %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg"
                 style="background-image: {% if product.get_main_image %}url({{ product.get_main_image.image.url }}){% else %} url('unsplash-photo-1.jpg'){% endif %};">
                <div class="d-flex flex-column h-100 p-5">
                    <h3 class="pt-5 mt-5">{{ product.title|truncatechars:120 }}</h3>
                    <ul class="list-unstyled mt-auto bg-dark p-2">
                        {% if product.description %}
                            <li class="d-flex align-items-center small">
                                <small>{{ product.description|truncatechars:120 }}</small>
                            </li>
                        {% endif %}

                        {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
                        <li class="me-auto"><a class="btn btn-outline-warning w-100" href="{{ product.get_absolute_url }}">More</a> </li>
                    </ul>

                </div>
            </div>
        </div>

        {% endfor %}
        {% endwith %}
    </div>
</section>


{% endif %}

