<section class="container mt-5 mb-3 px-4 py-5"
         {% if image %}
        style="background-image: url({{ image.url }});
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;"
         {% endif %} >
    <h2 class="pb-2 display-6 text-center fw-bold border-bottom">{{ title }}</h2>
    <div class="my-auto p-5">
        <div class="btn-group btn-group-lg" role="group" aria-label="Downloads">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="btnradio1">Android</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-dark" for="btnradio2">Linux</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-dark" for="btnradio3">Windows</label>
        </div>
        <button class="btn btn-lg btn-dark px-5 mx-auto" type="button">Download game for</button>
    </div>
</section>