{% load thumbnail %}

{# -- LIST CATEGORIES VERSION 1: round - #}
{% if objects.exists %}
    <div class="mt-2 row justify-content-center">
        {% for o in objects %}
        <div class="col-lg-2 text-center">
            <a class="text-secondary" href="{{ o.get_absolute_url }}">
                {% if o.get_main_image %}
                    <img src="{{ o.get_main_image|thumbnail_url:'medium' }}" class="rounded-circle" alt="{{ o.get_main_image.image_title }}" width="160" height="160">
                {% else %}
                    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ o.get_main_image.image_title }}" width="160" height="160">
                {% endif %}
                <h3 class="h5">{{ o.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>

<!--    {% comment %} LIST CATEGORIES VERSION 2: dark-background --->
<!--    <div class="mt-2 card-columns">-->
<!--        {% for cat in home.catalogs.all %}-->
<!--        <div class="card bg-dark text-white">-->
<!--            <a class="text-light" href="{{ cat.get_absolute_url }}">-->
<!--            {% if cat.get_main_image %}-->
<!--                <img src="{{ cat.get_main_image|thumbnail_url:'medium' }}" class="card-img" alt="{{ cat.get_main_image.image_title }}">-->
<!--                <div class="card-img-overlay"><h3 class="card-title">{{ cat.title|truncatechars:55 }}</h3></div>-->
<!--            {% else %}-->
<!--                <div class="card-body"><h3 class="card-title">{{ cat.title|truncatechars:55 }}</h3></div>-->
<!--            {% endif %}-->
<!--            </a>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endcomment %}-->
{% endif %}
