{% load thumbnail %}

{% if objects.exists %}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Games catalogs</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">

        {% for o in objects %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg"
                 style="background-image: {% if o.get_main_image %} url({{ o.get_main_image.image.url }}); {% else %} url('unsplash-photo-1.jpg'); {% endif %}">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-5 display-6"><a class="btn btn-outline-dark" href="{{ o.get_absolute_url }}">{{ o.title }}</a></h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>{{ o.html_description|safe }}</small>
                          </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}
