{% extends 'main.html' %}

{% block header %}{% endblock %}
{% block main %}
<div class="container mt-5 mb-5">
    <h1 class="display-4">Восстановление пароля</h1>
    <h2>Забыли пароль?</h2>
    <p class="lead mt-5">Введите свой адрес электронной почты ниже, <br>
        и мы вышлем вам инструкцию - <strong>как установить новый пароль</strong>.</p>
    <form method="post">{% csrf_token %}
        <fieldset class="form-group mt-5 mb-5">
            {{ form.as_p }}
        </fieldset>
        <button class="btn btn-lg btn-block btn-primary" type="submit">
            Отправить мне письмо - <i>Как установить новый пароль?</i>
        </button>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
