{% extends 'main.html' %}
{% load static %}
{% load mptt_tags %}

{% block header %}{% endblock %}
{% block main %}
<section class="container mt-5 mb-5">
    <h1 class="display-2">Письмо с инструкциями по восстановлению пароля отправлено!</h1>
    <p class="lead mt-4 mb-5">
        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты
        (если в нашей базе данных есть такой адрес).
        Вы должны получить ее в ближайшее время.
        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
        и проверьте папку со спамом.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Перейти на сайт</a>
    </p>
</section>
{% endblock %}
{% block footer %}{% endblock %}
