{% extends 'main.html' %}
{% load static %}


{% block main %}
    <div id="page-title"><div class="center"><h1>Восстановление пароля завершено</h1></div></div>
    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">
                <div class="post-12 page type-page status-publish hentry">
                    <div class="dervek">
                        <div id="content" class="colM">
                            <p>Ваш пароль успешно изменен!</p>
                            <p>Теперь вы можете войти на сайт.</p>
                            <h3><a href="{% url 'user_login' %}">Войти</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

