{% load static %}
{% load mptt_tags %}
{% load url_handler %}
{% load thumbnail %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/" class="logo navbar-brand" title="{{ setting_template.site }}">
    {% if setting_template.logo %}
        <img style="max-height:40px"
             src="{{ setting_template.logo|thumbnail_url:'medium' }}"
             alt="Site name {{ setting_template.site.name }}">
        <span class="sr-only">{{ setting_template.site.name }}</span>
    {% elif setting_template.title %}
        <span>{{ setting_template.title }}</span>
    {% else %}
        <span>Gen[crud]</span>
    {% endif %}
    </a>

    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarMainMenu"
        aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMainMenu">
        <ul class="navbar-nav col text-white">
            {% recursetree mainmenu %}
                {% if node.is_leaf_node and not node.get_ancestors.exists %}
                <li class="nav-item {% if current_url == node.get_url and current_url != '/' %} active{% endif %}">
                    <a class="nav-link" title="{{ node.name }}"
                       href="{{ node|url_handler:'mainmenu' }}">{{ node.name }}
                        {% if current_url == node.get_url and current_url != '/' %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
                {% endif %}

                {% if not node.is_leaf_node and not node.get_ancestors.exists %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{node.pk}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ node.name }}
                            {% if current_url == node.get_url and current_url != '/' %} <span class="sr-only">(current)</span>{% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown{{node.pk}}">
                            {{ children }}
                        </div>
                    </li>
                {% endif %}

                {% if node.is_leaf_node and node.get_ancestors.exists %}
                    <a class="dropdown-item text-info" href="{{ node|url_handler:'mainmenu' }}">{{ node.name }}</a>
                {% endif %}
                        {% comment %}
            <li class="nav-item {% if current_url == node.get_url and current_url != '/' %} active{% endif %}
                {% if not node.is_leaf_node %} dropdown{% endif %}">
                <a class="nav-link {% if not node.is_leaf_node %} dropdown-toggle{% endif %}" title="{{ node.name }}"
                   href="{% if node %}{{ node|url_handler:'mainmenu' }}{% else %}/{% endif %}">{{ node.name }}
                   {% if current_url == node.get_url and current_url != '/' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
                {% if not node.is_leaf_node %}
                    <ul class="dropdown-menu">{{ children }}</ul>
                {% endif %}
            </li>
            {% endcomment %}
            {% endrecursetree %}
        </ul>

        <ul class="navbar-nav col-2">
            {% if cart|length %}<li class="nav-item">{% include 'cart/templates/icon.html' %}</li>{% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarToggleMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarToggleMenu">
                    <a class="dropdown-item text-info" type="button" data-toggle="modal" data-target="#claim-modal" title="Заявка">
                        <i class="fa fa-bullhorn"></i> Заявка{% csrf_token %}
                    </a>
                    {% if user.is_authenticated %}
                    <a class="dropdown-item text-info" href="{% url 'profile' %}" title="Профиль">
                        <i class="fa fa-user"></i> Профиль
                    </a>
                    {% else %}
                    {# -- MODAL <a href="#" data-toggle="modal" data-target="#login-modal">Login</a> #}
                        <a class="dropdown-item text-info" href="{% url 'user_login' %}" title="Войти">
                            <i class="fa fa-user"></i> Войти
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="dropdown-item text-info" href="{% url 'logout' %}" title="Выход">
                            <i class="fa fa-reply"></i> Выход
                        </a>
                    {% else %}
                        <a class="dropdown-item text-info" href="{% url 'user_register' %}" title="Регистрация">
                            <i class="fa fa-pencil"></i> Регистрация
                        </a>
                    {% endif %}
                </div>
            </li>
            {#---- % include 'order/templates/claim_form.html' with type="modal" title="Быстрая заявка" subtitle="Так мы быстрее отреагируем на ваш запрос!" % ----#}
        </ul>
    </div>
</nav>
