{% load static %}
{% load mptt_tags %}
{% load url_handler %}
{% load thumbnail %}

<section class="row">

    <nav class="navbar navbar-expand-lg navbar-dark col-11">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" title="{{ setting_template.site }}">
                {% if setting_template.logo %}
                    <img style="max-height:40px"
                         src="{{ setting_template.logo|thumbnail_url:'medium' }}"
                         alt="{{ setting_template.site.name }}">
                {% elif setting_template.title %}
                    <strong>{{ setting_template.title }}</strong>
                {% else %}
                    <strong>Gen[crud]</strong>
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">

                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    {% recursetree mainmenu %}
                        {% if node.is_leaf_node and not node.get_ancestors.exists %}
                            <li class="nav-item {% if current_url == node.get_url and current_url != '/' %} active{% endif %}">
                                <a class="nav-link {% if current_url == node.get_url and current_url != '/' %} active{% endif %}"
                                   aria-current="page" href="{{ node|url_handler:'mainmenu' }}">
                                    {{ node.name }}
                                </a>
                            </li>
                        {% elif not node.is_leaf_node and not node.get_ancestors.exists %}
                            <li class="nav-item dropdown {% if current_url == node.get_url and current_url != '/' %} active{% endif %}">
                                <a class="nav-link dropdown-toggle {% if current_url == node.get_url and current_url != '/' %} active{% endif %}"
                                   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                   id="navbarScrollingDropdown{{node.pk}}">
                                    {{ node.name }}
                                </a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown{{node.pk}}">{{ children }}</ul>
                                {% endif %}
                            </li>
                        {% elif node.is_leaf_node and node.get_ancestors.exists %}
                            <li><a class="dropdown-item nav-link {% if current_url == node.get_url and current_url != '/' %} active{% endif %}"
                                   href="{{ node|url_handler:'mainmenu' }}">{{ node.name }}</a></li>
                        {% endif %}

                        {% if cart|length %}<li class="nav-item">{% include 'cart/templates/icon.html' %}</li>{% endif %}

                    {% endrecursetree %}
              </ul>

            </div>
        </div>
    </nav>


    <nav class="navbar navbar-dark col-1">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Inner menu</h4>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 h5">
                        {% if cart|length %}
                            <li class="nav-item py-3">{% include 'cart/templates/icon.html' %}</li>
                        {% endif %}

                            {% if user.is_authenticated %}
                                <li class="nav-item py-3"><a href="{% url 'profile' %}" title="Профиль">
                                <i class="fa fa-user"></i> Profile
                            </a></li>
                            {% else %}
                            {# -- MODAL <li class="nav-item px-3"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a> #}
                                <li class="nav-item py-3"><a href="{% url 'user_login' %}" title="Войти">
                                <i class="fa fa-user"></i> Log in
                            </a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li class="nav-item py-3"><a href="{% url 'logout' %}" title="Выход">
                                    <i class="fa fa-reply"></i> Logout
                                </a></li>
                            {% else %}
                                <li class="nav-item py-3"><a href="{% url 'user_register' %}" title="Registration">
                                    <i class="fa fa-pencil"></i> Registration
                                </a></li>
                            {% endif %}

                        {#---- % include 'order/templates/claim_form.html' with type="modal" title="Быстрая заявка" subtitle="Так мы быстрее отреагируем на ваш запрос!" % ----#}
                    </ul>
{% include 'search/search_form.html' %}


                </div>

            </div>

        </div>
    </nav>

</section>